apiVersion: v1
kind: Secret
metadata:
  name: webhook-secret
  namespace: dev
  labels:
    app.kubernetes.io/name: webhook-receiver
    app.kubernetes.io/component: backend
    app.kubernetes.io/part-of: noc-observability-pipeline
    environment: dev
type: Opaque
stringData:
  GROQ_API_KEY: "CAMBIAR"
  NOC_WEBHOOK_TOKEN: "CAMBIAR"
  PG_PASSWORD: "CAMBIAR"
  JIRA_API_TOKEN: "CAMBIAR"
  JIRA_USER: "CAMBIAR"